.Section4{
    margin-top: 78px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: 0 100px 0 100px;
    box-sizing: border-box;
}

.Sec4-Box1{
    width: 850px;
    height: 1065px;

    position: relative;
}
.Sec4-Box1 img{
    width: 100%;
    height: 100%;
}
.Sec4-Box1-Btn{
    cursor: pointer;

    width: 368px;
    height: 80px;
    background-color: #ffffff;

    font-family: Montserrat;
    font-size: 20px;
    font-weight: 800;
    color: #000000;

    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.4s ease-in-out;
}
.Sec4-Box1-Btn:hover{
    width: 332px;
    height: 72px;

    background: linear-gradient(90deg, #C4D8F5 0.17%, #C1D9F5 16.02%, #ADE2F2 33.92%, #E5D0F1 60.11%, #F3D7EA 83.91%, #F1D5E2 99.86%);
}
.Sec4-Box1-Text{
    font-family: SVN-Graelos;
    font-size: 69.03px;
    color: #ffffff;

    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);

    text-shadow: 0px 0px 10px rgb(0, 0, 0, 0.25);
}


.Sec4-Box2{
    width: 850px;
    height: 1065px;

    position: relative;
}
.Sec4-Box2 img{
    width: 100%;
    height: 100%;
}
.Sec4-Box2-Btn{
    cursor: pointer;

    width: 368px;
    height: 80px;
    background-color: #ffffff;

    font-family: Montserrat;
    font-size: 20px;
    font-weight: 800;
    color: #000000;

    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.4s ease-in-out;
}
.Sec4-Box2-Btn:hover{
    width: 332px;
    height: 72px;

    background: linear-gradient(90deg, #C4D8F5 0.17%, #C1D9F5 16.02%, #ADE2F2 33.92%, #E5D0F1 60.11%, #F3D7EA 83.91%, #F1D5E2 99.86%);
}

.Sec4-Box2-Text{
    font-family: SVN-Graelos;
    font-size: 69.03px;
    color: #ffffff;

    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);

    text-shadow: 0px 0px 10px rgb(0, 0, 0, 0.25);
}